<div ng-controller="ConfigurationsCtrl">

  <!--Confirm delete name-->
  <div class="modal fade" id="delete-name" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Confirm delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete('name')">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Confirm delete keyvalue-->
  <div class="modal fade" id="delete-keyvalue" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Confirm delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete('keyvalue')">Yes</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-controller="SysCommentsCtrl">

    <!-- Add Host Comment -->
    <div class="modal fade" id="hostComment" data-backdrop="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Host Comment</h4>
          </div>
          <div class="modal-body">
            <form action="" class="form-horizontal" name="addHostComment" method="get" novalidate>
              <div class="form-group">
                <label for="hostName" class="col-md-4 control-label">Host Name:</label>
                <div class="col-md-6">
                  <select ng-model="hostName" name="hostName" class="form-control" required>
  									 <option ng-repeat="name in name.host" value="{{name}}">{{name}}</option>
  								</select>
                  <span style="color:red" ng-show="addHostComment.hostName.$dirty && addHostComment.hostName.$invalid">
                  <span ng-show="addHostComment.hostName.$error.required">This field is required.</span></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-1 col-md-offset-3 input-sm">
                  <input ng-model="persistent" type="checkbox" value="persistent" class="form-control input-sm"></input>
                </div>
                <label for="persistent" class="control-label">Persistent</label>
              </div>
              <div class="form-group">
                <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
                <div class="col-md-6">
                  <input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="comment" class="col-md-4 control-label">Comment:</label>
                <div class="col-md-6">
                  <textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
                  <span style="color:red" ng-show="addHostComment.comment.$dirty && addHostComment.comment.$invalid">
                  <span ng-show="addHostComment.comment.$error.required">This field is required.</span></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-1">
                  <button type="button" class="btn btn-sm btn-info" data-target="#hostdesc" data-toggle="collapse">help</button>
                </div>
              </div>
              <div class="collapse fade" id="hostdesc">
                <p><small>
                  This command is used to add a comment for the specified host.
                  If you work with other administrators, you may find it useful to
                  share information about a host that is having problems if more than
                  one of you may be working on it. If you do not check the 'persistent'
                  option, the comment will be automatically be deleted the next time Nagios
                  is restarted.
               </small></p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetModal()">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add(hostName, ' ', persistent, author, comment)" title="Please complete the form" ng-disabled="addHostComment.$invalid">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Service Comment -->
    <div class="modal fade" id="serviceComment" data-backdrop="false" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Service Comment</h4>
          </div>
          <div class="modal-body">
            <form action="" class="form-horizontal" name="addServiceComment" method="post" novalidate>
              <div class="form-group">
                <label for="hostName" class="col-md-4 control-label">Host Name:</label>
                <div class="col-md-6">
                  <select ng-model="hostName" ng-change="service = ''" name="hostName" class="form-control" required>
  									 <option ng-repeat="name in name.host" value="{{name}}">{{name}}</option>
  								</select>
                  <span style="color:red" ng-show="addServiceComment.hostName.$dirty && addServiceComment.hostName.$invalid">
                  <span ng-show="addServiceComment.hostName.$error.required">This field is required.</span></span>
                </div>
              </div>
              <div class="form-group">
                <label for="service" class="col-md-4 control-label">Service:</label>
                <div class="col-md-6">
                  <select ng-model="service" name="service" class="form-control" required>
                    <option ng-repeat="name in name.service | filter:{host:hostName}:true" value="{{name.service}}"
                      >{{name.service}}</option>
  								</select>
                  <span style="color:red" ng-show="addServiceComment.service.$invalid">
                  <span ng-show="addServiceComment.service.$error.required">This field is required.</span></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-1 col-md-offset-3 input-sm">
                  <input ng-model="persistent" type="checkbox" value="persistent" name="persistent"
                    class="form-control input-sm"></input>
                </div>
                <label for="persistent" class="control-label">Persistent</label>
              </div>
              <div class="form-group">
                <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
                <div class="col-md-6">
                  <input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
                </div>
              </div>
              <div class="form-group">
                <label for="comment" class="col-md-4 control-label">Comment:</label>
                <div class="col-md-6">
                  <textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
                  <span style="color:red" ng-show="addServiceComment.comment.$dirty && addServiceComment.comment.$invalid">
                  <span ng-show="addServiceComment.comment.$error.required">This field is required.</span></span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6 col-md-offset-1">
                  <button type="button" class="btn btn-sm btn-info" data-target="#servicedesc" data-toggle="collapse">help</button>
                </div>
              </div>
              <div class="collapse fade" id="servicedesc">
                <p><small>
                      This command is used to add a comment for the specified service.
                      If you work with other administrators, you may find it useful to
                      share information about a host or service that is having problems
                      if more than one of you may be working on it.
                      If you do not check the 'persistent' option,
                      the comment will automatically be deleted the next time Nagios is restarted.
               </small></p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetModal()">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add(hostName, service, persistent, author, comment)" ng-disabled="addServiceComment.$invalid" title="Please complete the form">Add</button>
          </div>
        </div>
      </div>
    </div>

    <!--Confirm Delete Comment-->
    <div class="modal fade" id="delete-comment" role="dialog" data-backdrop="false" >
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body no-padding">
            <p>Confirm delete?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete()">Yes</button>
          </div>
        </div>
      </div>
    </div>

</div>

<div ng-controller="ServiceDetailsCtrl">

  <!--Confirm toggle-->
  <div class="modal fade" id="confirm-toggle" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="toggleAction()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Confirm delete service comment-->
  <div class="modal fade" id="confirm" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Confirm delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Add service comment-->
  <div class="modal fade" id="serviceComment1" data-backdrop="false" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Service Comment</h4>
        </div>
        <div class="modal-body">
          <form action="" class="form-horizontal" name="addServiceComment" method="post" novalidate>
            <div class="form-group">
              <label for="hostName" class="col-md-4 control-label">Host Name:</label>
              <div class="col-md-6">
                <input ng-model="hostName" ng-disabled="true" type="text" class="form-control input-md" name="hostName" required></input>
                <span style="color:red" ng-show="addServiceComment.hostName.$dirty && addServiceComment.hostName.$invalid">
                <span ng-show="addServiceComment.hostName.$error.required">This field is required.</span></span>
              </div>
            </div>
            <div class="form-group">
              <label for="serviceName" class="col-md-4 control-label">Service:</label>
              <div class="col-md-6">
                <input ng-model="serviceName" ng-disabled="true" type="text" class="form-control input-md" name="service" required></input>
                <span style="color:red" ng-show="addServiceComment.service.$invalid">
                <span ng-show="addServiceComment.service.$error.required">This field is required.</span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-1 col-md-offset-3 input-sm">
                <input ng-model="persistent" type="checkbox" value="persistent" name="persistent"
                  class="form-control input-sm"></input>
              </div>
              <label for="persistent" class="control-label">Persistent</label>
            </div>
            <div class="form-group">
              <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
              <div class="col-md-6">
                <input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="col-md-4 control-label">Comment:</label>
              <div class="col-md-6">
                <textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
                <span style="color:red" ng-show="addServiceComment.comment.$dirty && addServiceComment.comment.$invalid">
                <span ng-show="addServiceComment.comment.$error.required">This field is required.</span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-1">
                <button type="button" class="btn btn-sm btn-info" data-target="#servicedesc" data-toggle="collapse">help</button>
              </div>
            </div>
            <div class="collapse fade" id="servicedesc">
              <p><small>
                    This command is used to add a comment for the specified service.
                    If you work with other administrators, you may find it useful to
                    share information about a host or service that is having problems
                    if more than one of you may be working on it.
                    If you do not check the 'persistent' option,
                    the comment will automatically be deleted the next time Nagios is restarted.
             </small></p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add(persistent, author, comment)" ng-disabled="addServiceComment.$invalid" title="Please complete the form">Add</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-controller="HostDetailsCtrl">

  <!--Confirm toggle-->
  <div class="modal fade" id="confirm-toggle" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="toggleAction()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Confirm delete host comment-->
  <div class="modal fade" id="confirm-delete" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Confirm delete?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--Add host comment-->
  <div class="modal fade" id="hostComment1" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Host Comment</h4>
        </div>
        <div class="modal-body">
          <form action="" class="form-horizontal" name="addHostComment" method="get" novalidate>
            <div class="form-group">
              <label for="hostName" class="col-md-4 control-label">Host Name:</label>
              <div class="col-md-6">
                <input value="{{ host.host_name }}" ng-disabled="true" type="text" class="form-control input-md" name="hostName"></input>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-1 col-md-offset-3 input-sm">
                <input ng-model="persistent" type="checkbox" value="persistent" class="form-control input-sm"></input>
              </div>
              <label for="persistent" class="control-label">Persistent</label>
            </div>
            <div class="form-group">
              <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
              <div class="col-md-6">
                <input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="col-md-4 control-label">Comment:</label>
              <div class="col-md-6">
                <textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
                <span style="color:red" ng-show="addHostComment.comment.$dirty && addHostComment.comment.$invalid">
                <span ng-show="addHostComment.comment.$error.required">This field is required.</span></span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-md-offset-1">
                <button type="button" class="btn btn-sm btn-info" data-target="#hostdesc" data-toggle="collapse">help</button>
              </div>
            </div>
            <div class="collapse fade" id="hostdesc">
              <p><small>
                This command is used to add a comment for the specified host.
                If you work with other administrators, you may find it useful to
                share information about a host that is having problems if more than
                one of you may be working on it. If you do not check the 'persistent'
                option, the comment will be automatically be deleted the next time Nagios
                is restarted.
             </small></p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add(persistent, author, comment)" title="Please complete the form" ng-disabled="addHostComment.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-controller="SysDowntimeCtrl">

  <!-- Schedule Host Downtime -->
  <div class="modal fade" id="hostDowntime" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Schedule Host Downtime</h4>
        </div>
        <div class="modal-body">
          <form action="" class="form-horizontal" name="scdhostdowntime" method="post" novalidate>

            <div class="form-group">
              <label for="hostName" class="col-md-4 control-label">Host Name:</label>
              <div class="col-md-6">
                <select ng-model="hostName" name="hostName" class="form-control" required>
									 <option ng-repeat="name in name.host" value="{{name}}">{{name}}</option>
								</select>
                <span style="color:red" ng-show="scdhostdowntime.hostName.$dirty && scdhostdowntime.hostName.$invalid">
                <span ng-show="scdhostdowntime.hostName.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
              <div class="col-md-6">
                <input ng-model="author" ng-disabled="true" type="text" class="form-control" name="author" required></input>
                <span style="color:red" ng-show="scdhostdowntime.author.$dirty && scdhostdowntime.author.$invalid">
                <span ng-show="scdhostdowntime.author.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="comment" class="col-md-4 control-label">Comment:</label>
              <div class="col-md-6">
                <textarea ng-model="comment" class="form-control" name="comment" required></textarea>
                <span style="color:red" ng-show="scdhostdowntime.comment.$dirty && scdhostdowntime.comment.$invalid">
                <span ng-show="scdhostdowntime.comment.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="triggeredBy" class="col-md-4 control-label">Triggered By:</label>
              <div class="col-md-6">
                <select ng-model="triggeredBy" name="triggeredBy" class="form-control" required>
                  <option value="N/A">N/A</option>
                  <span style="color:red" ng-show="scdhostdowntime.triggeredBy.$dirty && scdhostdowntime.triggeredBy.$invalid">
                  <span ng-show="scdhostdowntime.triggeredBy.$error.required">This field is required.</span></span>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="startdate" class="col-md-4 control-label">Start Date:</label>
              <div class="col-md-6">
                <input ng-model="startDate" type="datetime-local" min="{{now | date:'yyyy-MM-ddTHH:mm'}}"
                  name="startdate" value="" class="form-control" required></input>
                  <span style="color:red" ng-show="scdhostdowntime.startDate.$dirty && scdhostdowntime.startDate.$invalid">
                  <span ng-show="scdhostdowntime.startDate.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="enddate" class="col-md-4 control-label">End Date:</label>
              <div class="col-md-6">
                <input ng-model="endDate" type="datetime-local" min="{{now | date:'yyyy-MM-ddTHH:mm'}}"
                  name="enddate" value="" class="form-control" required></input>
                  <span style="color:red" ng-show="scdhostdowntime.endDate.$dirty && scdhostdowntime.endDate.$invalid">
                  <span ng-show="scdhostdowntime.endDate.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="type" class="col-md-4 control-label">Type:</label>
              <div class="col-md-6">
                <select ng-model="type" name="type" class="form-control" required>
                  <option value="Fixed">Fixed</option>
                  <option value="Flexible">Flexible</option>
                </select>
                <span style="color:red" ng-show="scdhostdowntime.type.$dirty && scdhostdowntime.type.$invalid">
                <span ng-show="scdhostdowntime.type.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group" ng-show="hostType=='Flexible'">
              <label for="durationHour" class="col-md-4 control-label">Duration:</label>
              <div class="col-md-3">
                <input ng-model="durationHour" type="number" name="durationHour" class="form-control" required>Hour</input>
                <span style="color:red" ng-show="scdhostdowntime.durationHour.$dirty && scdhostdowntime.durationHour.$invalid">
                <span ng-show="scdhostdowntime.durationHour.$error.required">This field is required.</span></span>
              </div>
              <div class="col-md-3">
                <input ng-model="durationMin" type="number" name="durationMin" class="form-control" required>Minute</input>
                <span style="color:red" ng-show="scdhostdowntime.durationMin.$dirty && scdhostdowntime.durationMin.$invalid">
                <span ng-show="scdhostdowntime.durationMin.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <label for="childHost" class="col-md-4 control-label">Child Hosts:</label>
              <div class="col-md-6">
                <select ng-model="childHost" name="childHost" class="form-control" required>
                  <option value="doNothing">Do nothing with child hosts</option>
                  <option value="scheduleTriggeredDowntime">Schedule triggered downtime to all child hosts</option>
                  <option value="scheduleNonTriggeredDowntime">Schedule non-triggered downtime to all child hosts</option>
                </select>
                <span style="color:red" ng-show="scdhostdowntime.childHost.$dirty && scdhostdowntime.childHost.$invalid">
                <span ng-show="scdhostdowntime.childHost.$error.required">This field is required.</span></span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-1">
                <button type="button" class="btn btn-sm btn-info" data-target="#hostdesc" data-toggle="collapse">help</button>
              </div>
            </div>
            <div class="collapse fade" id="hostdesc">
              <p><small>
                This command is used to schedule downtime for a particular host.
                During the specified downtime, Nagios will not send notifications out about the host.
                When the scheduled downtime expires, Nagios will send out notifications for this host
                as it normally would. Scheduled downtimes are preserved across program shutdowns and
                restarts. If you select the fixed option, the downtime will be in effect
                between the start and end times you specify. If you do not select the fixed option,
                Nagios will treat this as "flexible" downtime. Flexible downtime starts when the host
                goes down or becomes unreachable (sometime between the start and end times you specified)
                 and lasts as long as the duration of time you enter. The duration fields do not apply
                 for fixed downtime.
             </small></p>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="schedule(hostName, ' ', startDate, endDate, type, triggerBy, durationHour, durationMin, author, comment)"
            ng-disabled="scdhostdowntime.$invalid" title="Please complete the form">Schedule</button>
        </div>
      </div>

    </div>
  </div>

  <!-- Schedule Service Downtime -->
  <div class="modal fade" id="serviceDowntime" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Schedule Service Downtime</h4>
       </div>
       <div class="modal-body">
         <form action="" class="form-horizontal" name="scdsvcdowntime" method="post" novalidate>

           <div class="form-group">
             <label for="hostName" class="col-md-4 control-label">Host Name:</label>
             <div class="col-md-6">
               <select ng-model="hostName" name="hostName" class="form-control" required>
                  <option ng-repeat="name in name.host" value="{{name}}">{{name}}</option>
               </select>
               <span style="color:red" ng-show="scdsvcdowntime.hostName.$dirty && scdsvcdowntime.hostName.$invalid">
               <span ng-show="scdsvcdowntime.hostName.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="service" class="col-md-4 control-label">Service:</label>
             <div class="col-md-6">
               <select ng-model="service" ng-change="service = ''" name="service" class="form-control" required>
                  <option ng-repeat="name in name.service | filter:{host:hostName}:true" value="{{name.service}}">{{name.service}}</option>
               </select>
               <span style="color:red" ng-show="scdsvcdowntime.service.$invalid">
               <span ng-show="scdsvcdowntime.service.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="author" class="col-md-4 control-label">Author(Your Name):</label>
             <div class="col-md-6">
               <input ng-model="author" ng-disabled="true" type="text" class="form-control" name="author" required></input>
               <span style="color:red" ng-show="scdsvcdowntime.author.$dirty && scdsvcdowntime.author.$invalid">
               <span ng-show="scdsvcdowntime.author.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="comment" class="col-md-4 control-label">Comment:</label>
             <div class="col-md-6">
               <textarea ng-model="comment" class="form-control" name="comment" required></textarea>
               <span style="color:red" ng-show="scdsvcdowntime.comment.$dirty && scdsvcdowntime.comment.$invalid">
               <span ng-show="scdsvcdowntime.comment.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="triggeredBy" class="col-md-4 control-label">Triggered By:</label>
             <div class="col-md-6">
               <select ng-model="triggeredBy" name="triggeredBy" class="form-control" required>
                 <option value="N/A">N/A</option>
               </select>
               <span style="color:red" ng-show="scdsvcdowntime.red.$dirty && scdsvcdowntime.red.$invalid">
               <span ng-show="scdsvcdowntime.red.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="startdate" class="col-md-4 control-label">Start Date:</label>
             <div class="col-md-6">
               <input ng-model="startDate" type="datetime-local" max="{{now | date: 'MM/dd/yyyy HH:mm:ss'}}"
                name="startdate" value="" class="form-control" required></input>
                <span style="color:red" ng-show="scdsvcdowntime.startDate.$dirty && scdsvcdowntime.startDate.$invalid">
                <span ng-show="scdsvcdowntime.startDate.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="enddate" class="col-md-4 control-label">End Date:</label>
             <div class="col-md-6">
               <input ng-model="endDate" type="datetime-local" max="{{now | date: 'MM/dd/yyyy HH:mm:ss'}}"
                name="enddate" value="" class="form-control" required></input>
                <span style="color:red" ng-show="scdsvcdowntime.endDate.$dirty && scdsvcdowntime.endDate.$invalid">
                <span ng-show="scdsvcdowntime.endDate.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <label for="type" class="col-md-4 control-label">Type:</label>
             <div class="col-md-6">
               <select ng-model="type" name="type" class="form-control" required>
                 <option value="Fixed">Fixed</option>
                 <option value="Flexible">Flexible</option>
               </select>
               <span style="color:red" ng-show="scdsvcdowntime.type.$dirty && scdsvcdowntime.type.$invalid">
               <span ng-show="scdsvcdowntime.type.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group" ng-show="serviceType=='Flexible'">
             <label for="durationHour" class="col-md-4 control-label">Duration:</label>
             <div class="col-md-3">
               <input ng-model="durationHour" type="number" name="durationHour" class="form-control" required>Hour</input>
               <span style="color:red" ng-show="scdsvcdowntime.durationHour.$dirty && scdsvcdowntime.durationHour.$invalid">
               <span ng-show="scdsvcdowntime.durationHour.$error.required">This field is required.</span></span>
             </div>
             <div class="col-md-3">
               <input ng-model="durationMin" type="number" name="durationMin" class="form-control" required>Minute</input>
               <span style="color:red" ng-show="scdsvcdowntime.durationMin.$dirty && scdsvcdowntime.durationMin.$invalid">
               <span ng-show="scdsvcdowntime.durationMin.$error.required">This field is required.</span></span>
             </div>
           </div>
           <div class="form-group">
             <div class="col-md-6 col-md-offset-1">
               <button type="button" class="btn btn-sm btn-info" data-target="#servicedesc" data-toggle="collapse">help</button>
             </div>
           </div>
           <div class="collapse fade" id="servicedesc">
             <p><small>
               This command is used to schedule downtime for a particular host.
               During the specified downtime, Nagios will not send notifications out about the host.
               When the scheduled downtime expires, Nagios will send out notifications for this host
               as it normally would. Scheduled downtimes are preserved across program shutdowns and
               restarts. If you select the fixed option, the downtime will be in effect
               between the start and end times you specify. If you do not select the fixed option,
               Nagios will treat this as "flexible" downtime. Flexible downtime starts when the host
               goes down or becomes unreachable (sometime between the start and end times you specified)
                and lasts as long as the duration of time you enter. The duration fields do not apply
                for fixed downtime.
            </small></p>
           </div>
         </form>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
         <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="schedule(hostName, service, startDate, endDate, type, triggerBy, durationHour, durationMin, author, comment)"
            ng-disabled="scdsvcdowntime.$invalid" title="Please complete the form">Schedule</button>
       </div>
     </div>
    </div>
  </div>

  <!--Confirm Delete Downtime-->
  <div class="modal fade" id="confirm" role="dialog" data-backdrop="false" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body no-padding">
          <p>Confirm delete downtime?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
