<div ng-controller="ProcessInfoCtrl">

	<div class="modal fade" id="ShutDownModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Shut Down The Nagios</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="open('shutdown')" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="RestartModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Restart the Nagios Process</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="open('restart')" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="NotificationsModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Notifications Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="notification(processinfo.enable_notifications)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ServiceCheckModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Service Check Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="activeservice(processinfo.active_service_checks_enabled)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="PassiveServiceModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Passive Service Check Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="passiveservice(processinfo.passive_service_checks_enabled)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="HostCheckModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Host Check Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="activehost(processinfo.active_host_checks_enabled)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="PassiveHostModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Passive Host Check Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="passivehost(processinfo.passive_host_checks_enabled)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="EventHandlerModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Event Handler Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="event(processinfo.enable_event_handlers)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ObsessingServiceModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Obsessing Over Service Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="obsessservice(processinfo.obsess_over_services)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="ObsessingHostModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Obsessing Over Hosts Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="obsesshost(processinfo.obsess_over_hosts)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="FlapDetectModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Flap Detection Model</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="flap(processinfo.enable_flap_detection)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="PerformanceModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Performance Data Command</h4>
				</div>
				<div class="modal-body">
					<button type="button" class="btn btn-success" ng-click="perform(processinfo.process_performance_data)" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>

</div>
