<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="AlertHistogramCtrl" ng-init="init()">

	<h1>Create Alert Histogram Report</h1>

	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
	 		<div class="panel-body">

				<h3>Report Details</h3>

				<div class="form-options">

					<form action="" class="form-horizontal" name="inputForm" method="post" novalidate>
						<div class="form-group">
							<label for="reportType" class="col-md-4 control-label">Report Type:</label>
							<div class="col-md-6">
								<select ng-model="reportType" name="reportType" class="form-control" required>
									<option value="Host">Host</option>
									<option value="Service">Service</option>
									<option value="Host Resource">Host Resource</option>
									<option value="Service Running State">Service Running State</option>
								</select>
								<span style="color:red" ng-show="inputForm.reportHostResource.$dirty && inputForm.reportType.$invalid">
								<span ng-show="inputForm.reportType.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group" ng-show="reportType!='Service'">
							<label for="reportHost" class="col-md-4 control-label">Select Host:</label>
							<div class="col-md-6">
								<select ng-model="reportHost" name="reportHost" class="form-control" ng-required="reportType!='Service'">
									 <option ng-repeat="name in name.host" value="{{name}}">{{name}}</option>
								</select>
								<span style="color:red" ng-show="inputForm.reportHost.$dirty && inputForm.reportHost.$invalid">
								<span ng-show="inputForm.reportHost.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group" ng-show="reportType=='Service' || reportType=='Service Running State'">
							<label for="reportService" class="col-md-4 control-label">Select Service:</label>
							<div class="col-md-6">
								<select ng-model="reportService" name="reportService" class="form-control" ng-required="reportType=='Service' || reportType=='Service Running State'">
									 <option ng-repeat="name in name.service" value="{{name.service}}">{{name.service}}</option>
								</select>
								<span style="color:red" ng-show="inputForm.reportService.$dirty && inputForm.reportService.$invalid">
								<span ng-show="inputForm.reportService.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group" ng-show="reportType=='Host Resource'">
							<label for="reportHostResource" class="col-md-4 control-label">Select Host Resource:</label>
							<div class="col-md-6">
								<select ng-model="reportHostResource" name="reportHostResource" class="form-control" ng-required="reportType=='Host Resource'">
									 <option ng-repeat="name in name.hostresource | filter:{host:reportHost}:true" value="{{name.service}}">{{name.service}}</option>
								</select>
								<span style="color:red" ng-show="inputForm.reportHostResource.$invalid">
								<span ng-show="inputForm.reportHostResource.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="reportPeriod" class="col-md-4 control-label">Report Period:</label>
							<div class="col-md-6">
								<select ng-model="reportPeriod" name="reportPeriod" class="form-control" required>
									<option value="Today">Today</option>
									<option value="Last 24 Hours">Last 24 Hours</option>
									<option value="Yesterday">Yesterday</option>
									<option value="This Week">This Week</option>
									<option value="Last 7 Days">Last 7 Days</option>
									<option value="Last Week">Last Week</option>
									<option value="This Month">This Month</option>
									<option value="Last 31 Days">Last 31 Days</option>
									<option value="Last Month">Last Month</option>
									<option value="This Year">This Year</option>
									<option value="Last Year">Last Year</option>
									<option value="*Custom Report Period*">*Custom Report Period*</option>
								</select>
								<span style="color:red" ng-show="inputForm.reportPeriod.$invalid">
								<span ng-show="inputForm.reportPeriod.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group" ng-show="reportPeriod=='*Custom Report Period*'" ng-model="startDate">
							<label for="startdate" class="col-md-4 control-label">Start Date:</label>
							<div class="col-md-6">
								<input type="date" ng-model="startDate" max="{{today | date: 'yyyy-MM-dd'}}" name="startdate" class="form-control" ng-required="reportPeriod=='*Custom Report Period*'"></input>
								<span style="color:red" ng-show="inputForm.startdate.$invalid">
								<span ng-show="inputForm.startdate.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group" ng-show="reportPeriod=='*Custom Report Period*'" ng-model="endDate">
							<label for="enddate" class="col-md-4 control-label">End Date:</label>
							<div class="col-md-6">
								<input type="date" ng-model="endDate" max="{{today | date: 'yyyy-MM-dd'}}" name="enddate" class="form-control" ng-required="reportPeriod=='*Custom Report Period*'"></input>
								<span style="color:red" ng-show="inputForm.enddate.$invalid">
								<span ng-show="inputForm.enddate.$error.required">This field is required.</span></span>
							</div>
						</div>
						<div class="form-group">
							<label for="statisticsBreakdown" class="col-md-4 control-label">Statistics Breakdown:</label>
							<div class="col-md-6">
								<select ng-model="statisticsBreakdown" name="statisticsBreakdown" class="form-control" required>
									<option value="Month">Month</option>
									<option value="Day of the Month">Day of the Month</option>
									<option value="Day of the Week">Day of the Week</option>
									<option value="Hour of the Day">Hour of the Day</option>
								</select>
								<span style="color:red" ng-show="inputForm.statisticsBreakdown.$invalid">
								<span ng-show="inputForm.statisticsBreakdown.$error.required">This field is required.</span></span>
							</div>
						</div>
						<div class="form-group">
							<label for="eventsToGraph" class="col-md-4 control-label">Events To Graph:</label>
							<div class="col-md-6">
								<select ng-model="eventsToGraph" name="eventsToGraph" class="form-control" required>
									<option value="All Hosts Events">All Hosts Events</option>
									<option value="Host Problem Events">Host Problem Events</option>
									<option value="Host Up Events">Host Up Events</option>
									<option value="Host Down Events">Host Down Events</option>
									<option value="Host Unreachable Events">Host Unreachable Events</option>
								</select>
								<span style="color:red" ng-show="inputForm.eventsToGraph.$invalid">
								<span ng-show="inputForm.eventsToGraph.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="stateTypesToGraph" class="col-md-4 control-label">State Types To Graph:</label>
							<div class="col-md-6">
								<select ng-model="stateTypesToGraph" name="stateTypesToGraph" class="form-control" required>
									<option value="Hard States">Hard States</option>
									<option value="Soft States">Soft States</option>
									<option value="Hard and Soft States">Hard and Soft States</option>
								</select>
								<span style="color:red" ng-show="inputForm.stateTypesToGraph.$invalid">
								<span ng-show="inputForm.stateTypesToGraph.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="assumeStateRetention" class="col-md-4 control-label">Assume State Retention:</label>
							<div class="col-md-6">
								<select ng-model="assumeStateRetention" name="assumeStateRetention" class="form-control" required>
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
								<span style="color:red" ng-show="inputForm.assumeStateRetention.$invalid">
								<span ng-show="inputForm.assumeStateRetention.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="initialStatesLogged" class="col-md-4 control-label">Initial States Logged:</label>
							<div class="col-md-6">
								<select ng-model="initialStatesLogged" name="initialStatesLogged" class="form-control" required>
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
								<span style="color:red" ng-show="inputForm.initialStatesLogged.$invalid">
								<span ng-show="inputForm.initialStatesLogged.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="ignoreRepeatedStates" class="col-md-4 control-label">Ignore Repeated States:</label>
							<div class="col-md-6">
								<select ng-model="ignoreRepeatedStates" name="ignoreRepeatedStates" class="form-control" required>
									<option value="Yes">Yes</option>
									<option value="No">No</option>
								</select>
								<span style="color:red" ng-show="inputForm.ignoreRepeatedStates.$invalid">
								<span ng-show="inputForm.ignoreRepeatedStates.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 pull-right">
								<button class="btn btn-primary" ng-click="reset()">Reset</button>
								<a>
									<button ng-disabled="inputForm.$invalid" class="btn btn-primary" ng-click="createReport()">Create Report</button>
								</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
