<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="TrendsReportCtrl" ng-init="init()">

  <h1>State Trends Report</h1>

    <div class="table-container partial-width">

			<h3>Host State Trends(host)</h3>

      <div fusioncharts
        width="600"
        height="400"
        type="area2d"
        datasource="{{dataSource}}">
      </div>

	  </div>

    <div class="table-container full-width">

	     <h3>Service State Trends(service)</h3>

       <div fusioncharts
         width="600"
         height="400"
         type="area2d"
         datasource="{{dataSource}}">
       </div>

	   </div>


	<div class="table-container partial-width">
		<div class="commands">

            <h3>View</h3>

			<!--show if a single host is selected-->
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{}}">View Availability Report For This Host</a></td>
                    </tr>
                    <tr class="footable-even">
                        <td><a target="nagios" ng-href="{{}}">View Status Detail For This Host</a></td>
                    </tr>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{}}">View Alert History For This Host</a></td>
                    </tr>
					<tr class="footable-even">
                        <td><a target="nagios" ng-href="{{}}">View Notifications For This Host</a></td>
                    </tr>
                </tbody>
            </table>

			<!--show if a single service is selected-->
			<table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{}}">View Trends For This Host</a></td>
                    </tr>
                    <tr class="footable-even">
                        <td><a target="nagios" ng-href="{{}}">View Availability Report For This HService</a></td>
                    </tr>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{}}">View Alert Histogram For This Service</a></td>
                    </tr>
                    <tr class="footable-even">
                        <td><a target="nagios" ng-href="{{}}">View Alert History For This Service</a></td>
                    </tr>
					<tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{}}">View Notifications For This Service</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>


</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
