<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>
   <p> Trend </p>

<!--
					<tr>
						<td><input type="text" ng-model="firstname"></td>
						<td>{{firstname}}</td>
					</tr>
					<tr>
						<td><input type="checkbox" ng-model="myVar"></td>
						<td ng-show="myVar">{{myVar}}</td>
					</tr>
					<tr>
						<td><select ng-model="animal">
							<option value="">
							<option value="dogs">Dogs
							<option value="tuts">Tutorials
							<option value="cars">Cars
						  </select>
						</td>
						<td ng-switch="animal">
							<p ng-switch-when="dogs">dog</p>
							<p ng-switch-when="tuts">tutorial</p>
							<p ng-switch-when="cars">car</p>
						</td>
					</tr>
					<tr>
						<td>
							<select ng-model="reportType" id="reportType" class="dropdown" >
							<option value="Hostgroup(s)">Hostgroup(s)</option>
							<option value="Host(s)">Host(s)</option>
							<option value="Servicegroup(s)">Servicegroup(s)</option>
							<option value="Service(s)">Service(s)</option>
							</select>
						</td>
						<td>{{reportType}}</td>
					</tr>
					-->

<div ng-include="'frontend/partials/_footer.html'"></div>
