<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="AvailabilityCtrl" ng-init="init()">
	
	<h1>Create Availability Report</h1>
	
	<div class="details table-container partial-width">
	
		<h3>Report Details</h3>
 		
		<div class="form-options">
			<table>
				<form action="" class="input-form" name="inputForm" method="post" novalidate>
                	<tr>
						<td>Report Type:</td>
						<td>
							<select ng-model="reportType" name="reportType" class="dropdown" required>
								<option value="Hostgroup(s)">Hostgroup(s)</option>
								<option value="Host(s)">Host(s)</option>
								<option value="Servicegroup(s)">Servicegroup(s)</option>
								<option value="Service(s)">Service(s)</option>
							</select>
						</td>
					</tr>
					
					<tr ng-show="reportType=='Hostgroup(s)' || reportType=='Host(s)'" class="serviceType">
						<td>Service Type:</td>
						<td>
							<select ng-model="serviceType" name="serviceType" class="dropdown">
								<option value="Normal Service">Normal Service</option>
								<option value="Host Resource">Host Resource</option>
								<option value="Running State">Running State</option>
							</select>
						</td>
					</tr>
					<tr ng-switch on="reportType">
						<td ng-switch-when="Hostgroup(s)">Select Hostgroup:</td>
						<td ng-switch-when="Host(s)">Select Host:</td>
						<td ng-switch-when="Servicegroup(s)">Select Servicegroup:</td>
						<td ng-switch-when="Service(s)">Select Service:</td>
						<td><select ng-model="reportComponent" name="reportComponent" class="dropdown">
							<option value=""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Report Period:</td>
						<td>
							<select ng-model="reportPeriod" name="reportPeriod" class="dropdown">
								<option value="Today">Today</option>
								<option value="Last 24 Hours">Last 24 Hours</option>
								<option value="Yesterday">Yesterday</option>
								<option value="This Week">This Week</option>
								<option value="Last 7 Days">Last 7 Days</option>
								<option value="Last Week">Last Week</option>
								<option value="This Month">This Month</option>
								<option value="Last 31 Days">Last 31 Days</option>
								<option value="Last Month">Last Month</option>
								<option value="This Year">This Year</option>
								<option value="Last Year">Last Year</option>
								<option value="*Custom Report Period*">*Custom Report Period*</option>
							</select>
						</td>
					</tr>
					<tr ng-show="reportPeriod=='*Custom Report Period*'" ng-model="startDate" name="startdate" class="date">
						<td>Start Date:</td>
						<td><input type="date" name="startdate" value=""></td>
					</tr>
					<tr ng-show="reportPeriod=='*Custom Report Period*'" ng-model="endDate" name="enddate" class="date">
						<td>End Date:</td>
						<td><input  type="date" name="enddate" value=""></td>
					</tr>
					<tr>
						<td>Report Time Period:</td>
						<td><select ng-model="reportTimePeriod" name="reportTimePeriod" class="dropdown">
							<option value="None">None</option>
							<option value="24x7">24x7</option>
							<option value="24x7_sans_holidays">24x7_sans_holidays</option>
							<option value="US-holidays">US-holidays</option>
							<option value="Workhours">Workhours</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Assume Initial States:</td>
						<td><select ng-model="assumeInitialStates" name="assumeInitialStates" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Assume State Retention:</td>
						<td><select ng-model="assumeStateRetention" name="assumeStateRetention" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Assume States During Program Downtime:</td>
						<td><select ng-model="assumeDowntimeStates" name="assumeDowntimeStates" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Include Soft States:</td>
						<td><select ng-model="includeSoftStates" name="includeSoftStates" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr ng-show="assumeInitialStates=='Yes' && reportType!='Service(s)'" class="firstAssumedState">
						<td>First Assumed Host State:</td>
						<td><select ng-model="firstAssumedHostState" name="firstAssumedHostState" class="dropdown">
							<option value="Unspecified">Unspecified</option>
							<option value="Current State">Current State</option>
							<option value="Host Up">Host Up</option>
							<option value="Host Down">Host Down</option>
							<option value="Host Unreachable">Host Unreachable</option>
							</select>
						</td>	
					</tr>
					<tr ng-show="assumeInitialStates=='Yes'" class="firstAssumedState">
						<td>First Assumed Service State:</td>
						<td><select ng-model="firstAssumedServiceState" name="firstAssumedServiceState" class="dropdown">
							<option value="Unspecified">Unspecified</option>
							<option value="Current State">Current State</option>
							<option value="Host Up">Host Up</option>
							<option value="Host Down">Host Down</option>
							<option value="Host Unreachable">Host Unreachable</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Backtracked Archives (To Scan For Initial States): </td>
						<td><input ng-model="backtrackedArchives" name="backtrackedArchives" type="number" required>
								<span style="color:red" ng-show="inputForm.backtrackedArchives.$dirty && inputForm.backtrackedArchives.$invalid">
								<span ng-show="inputForm.backtrackedArchives.$error.required">This field is required.</span></span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>  
							<button class="logButtons btn btn-primary btn-sm" ng-click="reset()">Reset</button>
                            <a ng-href="#/report/availability/report">
								<button ng-disabled="inputForm.$invalid" class="logButtons btn btn-primary btn-sm">Create Report</button>
							</a>
						</td>
					</tr>
				</form>
			</table>
      	</div>
	</div>
	
<div ng-include="'frontend/partials/_footer.html'"></div>
