<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="AlertHistogramCtrl" ng-init="init()">
	
	<h1>Create Alert Histogram Report</h1>
	
	<div class="details table-container partial-width">
	
		<h3>Report Details</h3>
 		
		<div class="form-options">
			<table>
				<form action="" class="input-form" name="inputForm" method="post" novalidate>
                	<tr>
						<td>Report Type:</td>
						<td>
							<select ng-model="reportType" name="reportType" class="dropdown" required>
								<option value="Host">Host</option>
								<option value="Service">Service</option>
							</select>
						</td>
					</tr>
					
					<tr ng-show="reportType=='Host'" class="serviceType">
						<td>Service Type:</td>
						<td>
							<select ng-model="serviceType" name="serviceType" class="dropdown">
								<option value="Normal Service">Normal Service</option>
								<option value="Host Resource">Host Resource</option>
								<option value="Running State">Running State</option>
							</select>
						</td>
					</tr>
					<tr ng-switch on="reportType">
						<td ng-switch-when="Host">Select Host:</td>
						<td ng-switch-when="Service">Select Service:</td>
						<td><select ng-model="reportComponent" name="reportComponent" class="dropdown">
							<option value=""></option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Report Period:</td>
						<td>
							<select ng-model="reportPeriod" name="reportPeriod" class="dropdown">
								<option value="Today">Today</option>
								<option value="Last 24 Hours">Last 24 Hours</option>
								<option value="Yesterday">Yesterday</option>
								<option value="This Week">This Week</option>
								<option value="Last 7 Days">Last 7 Days</option>
								<option value="Last Week">Last Week</option>
								<option value="This Month">This Month</option>
								<option value="Last 31 Days">Last 31 Days</option>
								<option value="Last Month">Last Month</option>
								<option value="This Year">This Year</option>
								<option value="Last Year">Last Year</option>
								<option value="*Custom Report Period*">*Custom Report Period*</option>
							</select>
						</td>
					</tr>
					<tr ng-show="reportPeriod=='*Custom Report Period*'" ng-model="startDate" name="startdate" class="date">
						<td>Start Date:</td>
						<td><input type="date" name="startdate" value=""></td>
					</tr>
					<tr ng-show="reportPeriod=='*Custom Report Period*'" ng-model="endDate" name="enddate" class="date">
						<td>End Date:</td>
						<td><input  type="date" name="enddate" value=""></td>
					</tr>
					<tr>
						<td>Statistics Breakdown:</td>
						<td><select ng-model="statisticsBreakdown" name="statisticsBreakdown" class="dropdown">
							<option value="Month">Month</option>
							<option value="Day of the Month">Day of the Month</option>
							<option value="Day of the Week">Day of the Week</option>
							<option value="Hour of the Day">Hour of the Day</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Events To Graph:</td>
						<td><select ng-model="eventsToGraph" name="eventsToGraph" class="dropdown">
							<option value="All Hosts Events">All Hosts Events</option>
							<option value="Host Problem Events">Host Problem Events</option>
							<option value="Host Up Events">Host Up Events</option>
							<option value="Host Down Events">Host Down Events</option>
							<option value="Host Unreachable Events">Host Unreachable Events</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>State Types To Graph:</td>
						<td><select ng-model="stateTypesToGraph" name="stateTypesToGraph" class="dropdown">
							<option value="Hard States">Hard States</option>
							<option value="Soft States">Soft States</option>
							<option value="Hard and Soft States">Hard and Soft States</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Assume State Retention:</td>
						<td><select ng-model="assumeStateRetention" name="assumeStateRetention" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Initial States Logged:</td>
						<td><select ng-model="initialStatesLogged" name="initialStatesLogged" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>Ignore Repeated States:</td>
						<td><select ng-model="ignoreRepeatedStates" name="ignoreRepeatedStates" class="dropdown">
							<option value="Yes">Yes</option>
							<option value="No">No</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>  
							<button class="logButtons btn btn-primary btn-sm" ng-click="reset()">Reset</button>
                            <a ng-href="#/report/alerthistogram/report">
								<button ng-disabled="inputForm.$invalid" class="logButtons btn btn-primary btn-sm">Create Report</button>
							</a>
						</td>
					</tr>
				</form>
			</table>
      	</div>
	</div>
	
<div ng-include="'frontend/partials/_footer.html'"></div>
