<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="ServiceDetailsCtrl" ng-init="init()">

    <h1>Service Details for <span class="state-{{ service.current_state | servicestate | lowercase }}">{{ service.service_description }}</span></h1>

    <p class="subheading"><a href="#/{{ 'host' | uri }}/{{ service.host_name }}">Host {{ service.host_name }}</a></p>

    <div class="details table-container partial-width full">
        <div class="row">
            <div class="col-md-8">
                <h3>Details</h3>

                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr class="footable-odd">
                            <td width="150">Service Description</td>
                            <td>{{ service.service_description }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Host Name</td>
                            <td>{{ service.host_name }}</td>
                        </tr>
                        <tr class="state-{{ service.current_state | servicestate | lowercase }} footable-odd">
                            <td>Current State</td>
                            <td class="status">{{ service.current_state | servicestate }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Check Command</td>
                            <td>{{ service.check_command }}</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>Plugin Output</td>
                            <td>{{ service.plugin_output }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Duration</td>
                            <td>{{ service.last_state_change | ago }}</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>State Type</td>
                            <td>{{ service.state_type | state_type }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Current Check</td>
                            <td>{{ service.current_attempt }} of {{ service.max_attempts }}</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>Last Check</td>
                            <td>{{ service.last_check * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Next Check</td>
                            <td>{{ service.next_check * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                        </tr>
                        <tr class="footable-odd" ng-if="service.heartbeat_sent">
                            <td>Heartbeat Sent</td>
                            <td>{{ service.heartbeat_sent.toLowerCase().includes('warning') ? service.heartbeat_sent : (service.heartbeat_sent *1000 | date: 'yyyy-MM-dd H:mm:ss') }}</td>
                        </tr>
                        <tr class="footable-even" ng-if="service.heartbeat_received">
                            <td>Heartbeat Received</td>
                            <!-- 20170523 WaiKit added a checking for heartbeat receive -->
                            <td>{{ service.heartbeat_received.includes('-') ? service.heartbeat_received : (service.heartbeat_received * 1000 | date: 'yyyy-MM-dd H:mm:ss') }}</td>
                        </tr>                
                        <tr class="footable-odd">
                            <td>Last State Change</td>
                            <td>{{ service.last_state_change * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Last Notification</td>
                            <td>{{ service.last_notification > 0 ? (service.last_notification  * 1000 | date: 'yyyy-MM-dd H:mm:ss') : 'Never' }}</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>Check Type</td>
                            <td>{{ service.check_type | check_type }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>Check Latency</td>
                            <td>{{ service.check_latency }}</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>Execution Time</td>
                            <td>{{ service.check_execution_time }}</td>
                        </tr>
                        <tr class="footable-even">
                            <td>State Change</td>
                            <td>{{ service.percent_state_change }}%</td>
                        </tr>
                        <tr class="footable-odd">
                            <td>Performance Data</td>
                            <td>{{ service.performance_data }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
            <div class="col-md-4">
                <div cg-busy="{promise:loadRemote,message:'Loading',backdrop:true,delay:300,minDuration:700}" ng-controller="RemoteServiceCtrl" ng-init="init()">
                    <h3>Remote Control</h3>
                    <h4 ng-if="!remote">Retrieving Service State...</h4>
                    <h4 ng-if="remote.code==0">Current State: {{remote.state | remotestate}}</h4>
                    <h4 ng-if="remote && remote.code!=0 && remote.code>-4">Failed to remote to service</h4>
                    <!-- WaiKit 20170425 added new code for disabled remote service -->
                    <h4 ng-if="remote && remote.code==-4">Remote service is disabled</h4>
                    <div ng-if="remote.code==0" style="margin: 5%;" class="row">
                        <button ng-class="{'disabled': disabled || startRule.includes(remote.state) ||  remote.state.length > 1}" type="button" class="btn btn-primary btn-block" ng-click="!disabled && remote.state.length == 1 && !startRule.includes(remote.state) && start()">Start</button>
                        <button ng-class="{'disabled': disabled || pauseRule.includes(remote.state) || remote.state.length > 1}" type="button" class="btn btn-primary btn-block" ng-click="!disabled && remote.state.length == 1 && !pauseRule.includes(remote.state) && pause()">Pause</button>
                        <button ng-class="{'disabled': disabled || stopRule.includes(remote.state) || remote.state.length > 1}" type="button" class="btn btn-primary btn-block" ng-click="!disabled && remote.state.length == 1 && !stopRule.includes(remote.state) && stop()">Stop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="table-container partial-width">

        <div class="attributes">

            <h3>Attributes</h3>

            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr class="{{ service.active_checks_enabled | is_enabled }}">
                        <td>Active Checks: {{ service.active_checks_enabled | is_enabled | capitalize }}</td>
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'active_checks' }}">Toggle</a></td>
                    </tr>
                    <tr class="{{ service.passive_checks_enabled | is_enabled }}">
                        <td>Passive Checks: {{ service.passive_checks_enabled | is_enabled | capitalize }}</td>
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'passive_checks' }}">Toggle</a></td>
                    </tr>
                    <tr class="{{ service.obsess_over_service | is_enabled }}">
                        <td>Obsession: {{ service.obsess_over_service | is_enabled | capitalize }}</td>
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'obsession' }}">Toggle</a></td>
                    </tr>
                    <tr class="{{ service.notifications_enabled | is_enabled }}">
                        <td>Notifications: {{ service.notifications_enabled | is_enabled | capitalize }}</td>
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'notifications' }}">Toggle</a></td>
                    </tr>
                    <tr class="{{ service.flap_detection_enabled | is_enabled }}">
                        <td>Flap Detection: {{ service.flap_detection_enabled | is_enabled | capitalize }}</td>
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'flap_detection' }}">Toggle</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><small>Commands will not appear until after page reload</small></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="commands">

            <h3>Commands</h3>

            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'custom_notification' }}">Send custom notification</a></td>
                    </tr>
                    <tr class="footable-even">
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'schedule_downtime' }}">Schedule downtime</a></td>
                    </tr>
                    <tr class="footable-odd">
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'schedule_check' }}">Reschedule Next Check</a></td>
                    </tr>
                    <tr class="footable-even">
                        <td><a target="nagios" ng-href="{{ service.host_name | servicecommand: service.service_description: 'acknowledge_problem' }}">Acknowledge Problem</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
   

    <div cg-busy="{promise:loadTable,message:'Loading',backdrop:true,delay:300,minDuration:700}" class="table-container partial-width full" ng-controller='ServiceLogCtrl' ng-init="init()">
        <h3>Log Files</h3>
        <table  id="hostsTable" cellspacing="0" cellpadding="0" class="footable" data-page-size="10" data-page-navigation="#footable-pagination" data-limit-navigation="5">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th data-type='numeric'>Size</th>
                    <th>Last access</th>
                    <th>Last modified</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5" class="row">
                        <div class="col-md-3 results">{{ selectedLogs | count }} Log File{{ selectedLogs | plural }} Selected</div>
                        <div class="col-md-3 results">{{ resp.logs | count }} Result{{ resp.logs | plural }}</div>
                        <div class="col-md-3 results">
                            <button class="logButtons btn btn-primary btn-sm" ng-click="downloadLogs()">Download</button>
                            <button class="logButtons btn btn-primary btn-sm" ng-click="init()">Refresh</button>
                            <button class="logButtons btn btn-primary btn-sm" ng-click="clearSelected()">Clear</button>
                        </div>
                        <div class="col-md-3 footable-pagination pagination" style="width:25%" id="footable-pagination"></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr class="footable-disabled" ng-if="is_loading == false  && (resp.logs | count) == 0">
                    <!-- <td ng-if="is_loading" > <div class="loader"></div></td> -->
                    <td colspan="5">No logs are found</td>
                </tr>
                <tr ng-repeat="log in resp.logs | orderObjectBy: 'name'" ng-class="{selected: selectedLogs.includes(log.name)}" ng-click="setSelected(log)" footabledata>
                    <td>{{ log.name }}</td>
                    <td data-value={{log.size}}>{{ (log.size | formatSizeUnits )}} <span  ng-if='log.size>=1000000000' style="color:red">*</span></td>
                    <td>{{ log.atime * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                    <td>{{ log.mtime * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                </tr>
            </tbody>
        </table>
       
        
    </div>
    
    <div class="table-container partial-width full">

        <h3>Comments</h3>

        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Entry Time</th>
                    <th>Comment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"><a target="nagios" class="add-comment" href="{{ service.host_name | servicecommand: service.service_description: 'comment_add' }}">Add Comment</a></td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-if="(service.servicecomments | count) == 0">
                    <td colspan="4">{{ is_loading ? 'Loading...' : 'No comments for service' }}</td>
                </tr>
                <tr ng-repeat="comment in service.servicecomments" ng-class-odd="'footable-odd'" ng-class-even="'footable-even'">
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.entry_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                    <td>{{ comment.comment_data }}</td>
                    <td><a target="nagios" ng-href="{{ comment.comment_id | servicecommand: 'null-parameter': 'comment_delete' }}">Delete Comment</a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div ng-include="'frontend/partials/_footer.html'"></div>

