<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="PerformanceInfoCtrl" ng-init="init()">

	<h1>Performance Information</h1>

	<div class="table-container partial-width half" ng-if="!is_loading">

			<div class="status-overview-tables">

				<h3>Hosts Actively Checked</h3>

				<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Time Frame</th>
													<th colspan=2>Hosts Checked</th>
													<th></th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
													<th><= 1 Min</th>
													<td></td>
													<td>{{ pinfo.active_host_check_1	}}  ({{	pinfo.active_host_check_1 | percent : pinfo.active_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 5 Min</th>
													<td></td>
													<td>{{	pinfo.active_host_check_5 }}  ({{	pinfo.active_host_check_5 | percent : pinfo.active_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th><= 15 Min</th>
													<td></td>
													<td>{{	pinfo.active_host_check_15 }} ({{	pinfo.active_host_check_15 | percent : pinfo.active_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 1 Hr</th>
													<td></td>
													<td>{{	pinfo.active_host_check_60  }} ({{	pinfo.active_host_check_60 | percent : pinfo.active_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th>Since program start</th>
													<td></td>
													<td>{{	pinfo.active_host_checked_since_program_start }} ({{	pinfo.active_host_checked_since_program_start | percent : pinfo.active_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
									</tbody>
							</table>

							<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Metric</th>
													<th>Min.</th>
													<th>Max.</th>
													<th>Average</th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
												<th>Check Execution Time</th>
												<td>{{ pinfo.active_host_execution_min }} sec</td>
												<td>{{ pinfo.active_host_execution_max }} sec</td>
												<td>{{ pinfo.active_host_execution_average }} sec</td>
											</tr>
											<tr class="footable-even">
												<th>Check Latency</th>
												<td>{{ pinfo.active_host_latency_min }} sec</td>
												<td>{{ pinfo.active_host_latency_max }} sec</td>
												<td>{{ pinfo.active_host_latency_average }} sec</td>
											</tr>
											<tr class="footable-odd">
												<th>Percent State Change</th>
												<td>{{ pinfo.active_host_state_change_min }}%</td>
												<td>{{ pinfo.active_host_state_change_max }}%</td>
												<td>{{ pinfo.active_host_state_change_average }}%</td>
											</tr>
									</tbody>
							</table>
					</div>
	</div>


	<div class="table-container partial-width half" ng-if="!is_loading">

			<div class="status-overview-tables">

				<h3>Services Actively Checked</h3>

				<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Time Frame</th>
													<th colspan=2>Services Checked</th>
													<th></th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
													<th><= 1 Min</th>
													<td></td>
													<td>{{	pinfo.active_service_check_1 }} ({{	pinfo.active_service_check_1 | percent : pinfo.active_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 5 Min</th>
													<td></td>
													<td>{{	pinfo.active_service_check_5 }} ({{	pinfo.active_service_check_5 | percent : pinfo.active_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th><= 15 Min</th>
													<td></td>
													<td>{{	pinfo.active_service_check_15 }} ({{	pinfo.active_service_check_15 | percent : pinfo.active_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 1 Hr</th>
													<td></td>
													<td>{{	pinfo.active_service_check_60 }} ({{	pinfo.active_service_check_60 | percent : pinfo.active_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th>Since program start</th>
													<td></td>
													<td>{{	pinfo.active_service_checked_since_program_start }} ({{	pinfo.active_service_checked_since_program_start | percent : pinfo.active_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
									</tbody>
							</table>

							<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Metric</th>
													<th>Min.</th>
													<th>Max.</th>
													<th>Average</th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
												<th>Check Execution Time</th>
												<td>{{ pinfo.active_service_execution_min }} sec</td>
												<td>{{ pinfo.active_service_execution_max }} sec</td>
												<td>{{ pinfo.active_service_execution_average }} sec</td>
											</tr>
											<tr class="footable-even">
												<th>Check Latency</th>
												<td>{{ pinfo.active_service_latency_min }} sec</td>
												<td>{{ pinfo.active_service_latency_max }} sec</td>
												<td>{{ pinfo.active_service_latency_average }} sec</td>
											</tr>
											<tr class="footable-odd">
												<th>Percent State Change</th>
												<td>{{ pinfo.active_service_state_change_min }}%</td>
												<td>{{ pinfo.active_service_state_change_max }}%</td>
												<td>{{ pinfo.active_service_state_change_average }}%</td>
											</tr>
									</tbody>
							</table>
					</div>
	</div>



	<div class="table-container partial-width half" ng-if="!is_loading">

			<div class="status-overview-tables">

				<h3>Host Passively Checked</h3>

				<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Time Frame</th>
													<th colspan=2>Hosts Checked</th>
													<th></th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
													<th><= 1 Min</th>
													<td></td>
													<td>{{	pinfo.passive_host_check_1 }} ({{	pinfo.passive_host_check_1 | percent : pinfo.passive_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 5 Min</th>
													<td></td>
													<td>{{	pinfo.passive_host_check_5 }} ({{	pinfo.passive_host_check_5 | percent : pinfo.passive_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th><= 15 Min</th>
													<td></td>
													<td>{{	pinfo.passive_host_check_15 }} ({{	pinfo.passive_host_check_15 | percent : pinfo.passive_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 1 Hr</th>
													<td></td>
													<td>{{	pinfo.passive_host_check_60 }} ({{	pinfo.passive_host_check_60 | percent : pinfo.passive_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th>Since program start</th>
													<td></td>
													<td>{{	pinfo.passive_host_checked_since_program_start }} ({{	pinfo.passive_host_checked_since_program_start | percent : pinfo.passive_host_checked_since_program_start }})</td>
													<td></td>
											</tr>
									</tbody>
						</table>

							<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Metric</th>
													<th>Min.</th>
													<th>Max.</th>
													<th>Average</th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
												<th>Percent State Change</th>
												<td>{{ pinfo.passive_host_state_change_min }}%</td>
												<td>{{ pinfo.passive_host_state_change_max }}%</td>
												<td>{{ pinfo.passive_host_state_change_average }}%</td>
											</tr>
									</tbody>
							</table>
					</div>
	</div>


	<div class="table-container partial-width half" ng-if="!is_loading">

			<div class="status-overview-tables">

				<h3>Services Passively Checked</h3>

				<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Time Frame</th>
													<th colspan=2>Services Checked</th>
													<th></th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
													<th><= 1 Min</th>
													<td></td>
													<td>{{	pinfo.passive_service_check_1 }} ({{	pinfo.passive_service_check_1 | percent : pinfo.passive_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 5 Min</th>
													<td></td>
													<td>{{	pinfo.passive_service_check_5 }} ({{	pinfo.passive_service_check_5 | percent : pinfo.passive_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th><= 15 Min</th>
													<td></td>
													<td>{{	pinfo.passive_service_check_15 }} ({{	pinfo.passive_service_check_15 | percent : pinfo.passive_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-even">
													<th><= 1 Hr</th>
													<td></td>
													<td>{{	pinfo.passive_service_check_60 }} ({{	pinfo.passive_service_check_60 | percent : pinfo.passive_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
											<tr class="footable-odd">
													<th>Since program start</th>
													<td></td>
													<td>{{	pinfo.passive_service_checked_since_program_start }} ({{	pinfo.passive_service_checked_since_program_start | percent : pinfo.passive_service_checked_since_program_start }})</td>
													<td></td>
											</tr>
									</tbody>
						</table>

							<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Metric</th>
													<th>Min.</th>
													<th>Max.</th>
													<th>Average</th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
												<th>Percent State Change</th>
												<td>{{ pinfo.passive_service_state_change_min }}%</td>
												<td>{{ pinfo.passive_service_state_change_max }}%</td>
												<td>{{ pinfo.passive_service_state_change_average }}%</td>
											</tr>
									</tbody>
							</table>
					</div>
	</div>


	<div class="table-container partial-width half" ng-if="!is_loading">

			<div class="status-overview-tables">

				<h3>Check Statistics</h3>
							<table cellspacing="0" cellpadding="0">
									<thead>
											<tr>
													<th>Type</th>
													<th>Last 1 min</th>
													<th>Last 5 min</th>
													<th>Last 15 min</th>
											</tr>
									</thead>
									<tbody>
											<tr class="footable-odd">
												<th>Active Scheduled Host Checks</th>
												<td>{{ pinfo.active_schedule_host_check_1 }}</td>
												<td>{{ pinfo.active_schedule_host_check_5 }}</td>
												<td>{{ pinfo.active_schedule_host_check_15 }}</td>
											</tr>
											<tr class="footable-even">
												<th>Active On-Demand Host Checks</th>
												<td>{{ pinfo.active_ondemand_host_check_1 }}</td>
												<td>{{ pinfo.active_ondemand_host_check_5 }}</td>
												<td>{{ pinfo.active_ondemand_host_check_15 }}</td>
											</tr>
											<tr class="footable-odd">
												<th>Parallel Host Checks</th>
												<td>{{ pinfo.parallel_host_check_1 }}</td>
												<td>{{ pinfo.parallel_host_check_5 }}</td>
												<td>{{ pinfo.parallel_host_check_15 }}</td>
											</tr>
											<tr class="footable-even">
												<th>Serial Host Checks</th>
												<td>{{ pinfo.serial_host_check_1 }}</td>
												<td>{{ pinfo.serial_host_check_5 }}</td>
												<td>{{ pinfo.serial_host_check_15 }}</td>
											</tr>
											<tr class="footable-odd">
												<th>Cached Host Checks</th>
												<td>{{ pinfo.cached_host_check_1 }}</td>
												<td>{{ pinfo.cached_host_check_5 }}</td>
												<td>{{ pinfo.cached_host_check_15 }}</td>
											</tr>
											<tr class="footable-even">
												<th>Passive Host Checks</th>
												<td>{{ pinfo.passive_host_check_1 }}</td>
												<td>{{ pinfo.passive_host_check_5 }}</td>
												<td>{{ pinfo.passive_host_check_15 }}</td>
											</tr>
											<tr class="footable-odd">
												<th>Active Scheduled Service Checks</th>
												<td>{{ pinfo.active_schedule_service_check_1 }}</td>
												<td>{{ pinfo.active_schedule_service_check_5 }}</td>
												<td>{{ pinfo.active_schedule_service_check_15 }}</td>
											</tr>
											<tr class="footable-even">
												<th>Active On Demand Service Checks</th>
												<td>{{ pinfo.active_ondemand_service_check_1 }}</td>
												<td>{{ pinfo.active_ondemand_service_check_5 }}</td>
												<td>{{ pinfo.active_ondemand_service_check_15 }}</td>
											</tr>
											<tr class="footable-odd">
												<th>Cached Service Checks</th>
												<td>{{ pinfo.cached_service_check_1 }}</td>
												<td>{{ pinfo.cached_service_check_5 }}</td>
												<td>{{ pinfo.cached_service_check_15 }}</td>
											</tr>
											<tr class="footable-even">
												<th>Passive Service Checks</th>
												<td>{{ pinfo.passive_service_check_1 }}</td>
												<td>{{ pinfo.passive_service_check_5 }}</td>
												<td>{{ pinfo.passive_service_check_15 }}</td>
											</tr>
											<tr class="footable-odd">
												<th>External Commands</th>
												<td>{{ pinfo.external_commands_last_1 }}</td>
												<td>{{ pinfo.external_commands_last_5 }}</td>
												<td>{{ pinfo.external_commands_last_15 }}</td>
											</tr>
									</tbody>
							</table>
					</div>
	</div>

</div>

<div ng-include="'frontend/partials/_footer.html'"></div>

