<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="SchedulingQueueCtrl" ng-init="init()">

<div class="table-container full-width">
	<h1>Scheduling Queue</h1>

	<div class="table-options">
        <form action="" class="filter-form" method="post">
        	<div class="filter-icon"></div>
        		<input id="footable-filter" class="footable-filter" type="text" placeholder="Filter Table"/>
        </form>
        <div class="pagesize-container">
            Show <a class="active" ng-href="#" data-page-size="25">25</a> <a ng-href="#" data-page-size="100">100</a> <a ng-href="#" data-page-size="50000">All</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Service</th>
                    <th data-hide="phone">Last Check</th>
                    <th data-hide="phone">Next Check</th>
                    <th data-hide="phone">Type</th>
                    <th>Active Checks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <div class="results-count">{{ testdata | count }} Result{{ testdata | plural }}</div>
                        <div class="footable-pagination pagination" id="footable-pagination"></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-if="(testdata | count) == 0">
                    <td colspan="5">{{ is_loading ? 'Loading...' : 'No hosts are defined' }}</td>
                </tr>
                <tr ng-repeat="x in testdata" footabledata class="state-{{ x.active_check | lowercase }}">
                    <td>{{ x.host }}</td>
                    <td>{{ x.service }}</td>
                    <td>{{ x.last_check * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                    <td>{{ x.next_check * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                    <td>{{ x.type}}</td>
                    <td class="status">{{ x.active_check }}</td>
		    <td>
			<a data-toggle="modal" data-target="#DisableModal" ng-click="parameterdisable(x.host, x.service, x.active_check)">Disable</a>
			<a><a data-toggle="modal" data-target="#ScheduleModal" ng-click="parameterschedule(x.host, x.service, x.next_check)">Schedule</a></a>
		   </td>
                </tr>
            </tbody>
        </table>
</div>
<div ng-include="'frontend/partials/modal_confirm.html'"></div>
</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
