<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="SysDowntimeCtrl" ng-init="init()">

	<h1>Downtime</h1>

	<div class="details table-container partial-width">

		<h3>Report Details</h3>

		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" data-target="#home">Home</a></li>
		  <li><a data-toggle="tab" data-target="#menu1">Menu 1</a></li>
		  <li><a data-toggle="tab" data-target="#menu2">Menu 2</a></li>
		</ul>

		<div class="tab-content">
		  <div id="home" class="tab-pane fade in active">
		    <h3>HOME</h3>
		    <p>Some content.</p>
		  </div>
		  <div id="menu1" class="tab-pane fade">
		    <h3>Menu 1</h3>
		    <p>Some content in menu 1.</p>
		  </div>
		  <div id="menu2" class="tab-pane fade">
		    <h3>Menu 2</h3>
		    <p>Some content in menu 2.</p>
		  </div>
		</div>
</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
