<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="SysCommentsCtrl" ng-init="init()">

	<h1>Comments</h1>

	<div class="details table-container full-width">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		  <li class="active">
		    <a role="button" data-toggle="tab" data-target="#hostcomments">Host Comments</a>
		  </li>
		  <li>
		    <a role="button" data-toggle="tab" data-target="#servicecomments">Service Comments</a>
		  </li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="hostcomments">

					<!--Table-->
					<div class="table-container full-width">

						<table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
	            <thead>
	                <tr>
	                    <th>Host Name</th>
	                    <th>Entry Time</th>
	                    <th>Author</th>
											<th>Comment</th>
											<th>Comment ID</th>
											<th>Persistent</th>
											<th>Type</th>
											<th>Expires</th>
											<th>Actions</th>
	                </tr>
	            </thead>
							<tfoot>
	                <tr>
	                    <td colspan="9">
												<a class="add-comment no-margin" role="button" ng-click="addComment('host')">Add Comment</a>
											</td>
	                </tr>
	            </tfoot>
	            <tbody>
	                <tr ng-if="(comments | count) == 0">
	                    <td colspan="9">{{ is_loading ? 'Loading...' : 'No comments for host' }}</td>
	                </tr>
	                <tr ng-repeat="comment in comments" ng-class-odd="'footable-odd'" ng-class-even="'footable-even'">
	                    <td>{{ comment.host_name }}</td>
	                    <td>{{ comment.entry_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
											<td>{{ comment.author }}</td>
	                    <td>{{ comment.comment_data }}</td>
											<td>{{ comment.comment_id }}</td>
											<td>{{ comment.persistent }}</td>
											<td>{{ comment.entry_type }}</td>
											<td>{{ comment.expires }}</td>
	                    <td><a role="button" ng-click="deleteComment(comment.comment_id, 'host')">Delete Comment</a></td>
	                </tr>
	            </tbody>
			      </table>
					</div>

			</div>

		  <div class="tab-pane" id="servicecomments">

					<!--Table-->
					<div class="table-container full-width">
						<table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
	            <thead>
	                <tr>
	                    <th>Host Name</th>
											<th>Service</th>
	                    <th>Entry Time</th>
	                    <th>Author</th>
											<th>Comment</th>
											<th>Comment ID</th>
											<th>Persistent</th>
											<th>Type</th>
											<th>Expires</th>
											<th>Actions</th>
	                </tr>
	            </thead>
							<tfoot>
									<tr>
											<td colspan="10">
												<a class="add-comment no-margin" role="button" ng-click="addComment('svc')">Add Comment</a>
											</td>
									</tr>
							</tfoot>
							<tbody>
								<tr ng-if="(testdata | count) == 0">
										<td colspan="9">{{ is_loading ? 'Loading...' : 'No comments for host' }}</td>
								</tr>
								<tr ng-repeat="comment in testdata" ng-class-odd="'footable-odd'" ng-class-even="'footable-even'">
										<td>{{ comment.host_name }}</td>
										<td>{{ comment.entry_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
										<td>{{ comment.author }}</td>
										<td>{{ comment.comment_data }}</td>
										<td>{{ comment.comment_id }}</td>
										<td>{{ comment.persistent }}</td>
										<td>{{ comment.entry_type }}</td>
										<td>{{ comment.expires }}</td>
										<td><a ng-click="deleteComment(comment.comment_id, 'host')">Delete Comment</a></td>
								</tr>
							</tbody>
		        </table>
					</div>

			</div>

		</div>

	</div>

	<!--modal success-->
	<div class="modal fade" id="success" data-backdrop="false" >
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header" hidden="true"></div>
				<div class="modal-body" style="margin:0px;padding:0px">
					<div class="alert alert-success fade in" id="success-alert">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong>
					</div>
					<div class="modal-footer" hidden="true"></div>
				</div>
			</div>
		</div>
	</div>

	<!--modal fail-->
	<div class="modal fade" id="success" data-backdrop="false" >
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<div hidden class="alert alert-success fade in" id="fail-alert">
						<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Modal confirm-->
	<div class="modal fade" id="confirm" data-backdrop="false" >
		<div class="modal-dialog modal-sm">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body no-padding">
					<p>Are you sure?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary btn-ok" data-dismiss="modal" ng-click="delete()">Yes</button>
				</div>

			</div>
		</div>
	</div>


	<!-- Modal addhost-->
	<div class="modal fade" id="hostcommentmodal" data-backdrop="false">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Host Comment</h4>
				</div>
				<div class="modal-body">
					<form action="" class="form-horizontal" name="addHostComment" method="get" novalidate>

						<div class="form-group">
							<label for="hostName" class="col-md-4 control-label">Host Name:</label>
							<div class="col-md-6">
								<input ng-model="hostName" type="text" class="form-control input-md" name="hostName" required></input>
								<span style="color:red" ng-show="addHostComment.hostName.$dirty && addHostComment.hostName.$invalid">
								<span ng-show="addHostComment.hostName.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-1 col-md-offset-3 input-sm">
								<input ng-model="persistent" type="checkbox" value="persistent" class="form-control input-sm"></input>
							</div>
							<label for="persistent" class="control-label">Persistent</label>
						</div>

						<div class="form-group">
							<label for="author" class="col-md-4 control-label">Author(Your Name):</label>
							<div class="col-md-6">
								<input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
							</div>
						</div>

						<div class="form-group">
							<label for="comment" class="col-md-4 control-label">Comment:</label>
							<div class="col-md-6">
								<textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
								<span style="color:red" ng-show="addHostComment.comment.$dirty && addHostComment.comment.$invalid">
								<span ng-show="addHostComment.comment.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-1">
								<button type="button" class="btn btn-sm btn-info" data-target="#hostdesc" data-toggle="collapse">help</button>
							</div>
						</div>

						<!-- collapse -->
						<div class="collapse fade" id="hostdesc">
							<p><small>
								This command is used to add a comment for the specified host.
								If you work with other administrators, you may find it useful to
								share information about a host that is having problems if more than
								one of you may be working on it. If you do not check the 'persistent'
								option, the comment will be automatically be deleted the next time Nagios
								is restarted.
						 </small></p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()" title="Please complete the form" ng-disabled="addHostComment.$invalid">Add</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal addservice-->
	<div class="modal fade" id="servicecommentmodal" data-backdrop="false" >
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Service Comment</h4>
				</div>
				<div class="modal-body">
					<form action="" class="form-horizontal" name="addServiceComment" method="post" novalidate>

						<div class="form-group">
							<label for="hostName" class="col-md-4 control-label">Host Name:</label>
							<div class="col-md-6">
								<input ng-model="hostName" type="text" class="form-control input-md" name="hostName" required></input>
								<span style="color:red" ng-show="addServiceComment.hostName.$dirty && addServiceComment.hostName.$invalid">
								<span ng-show="addServiceComment.hostName.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<label for="service" class="col-md-4 control-label">Service:</label>
							<div class="col-md-6">
								<input ng-model="service" type="text" class="form-control input-md" name="service" required></input>
								<span style="color:red" ng-show="addServiceComment.service.$dirty && addServiceComment.service.$invalid">
								<span ng-show="addServiceComment.service.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-1 col-md-offset-3 input-sm">
								<input ng-model="persistent" type="checkbox" value="persistent" name="persistent"
									class="form-control input-sm"></input>
							</div>
							<label for="persistent" class="control-label">Persistent</label>
						</div>

						<div class="form-group">
							<label for="author" class="col-md-4 control-label">Author(Your Name):</label>
							<div class="col-md-6">
								<input ng-model="author" ng-disabled="true" type="text" class="form-control input-md" name="author"></input>
							</div>
						</div>

						<div class="form-group">
							<label for="comment" class="col-md-4 control-label">Comment:</label>
							<div class="col-md-6">
								<textarea ng-model="comment" class="form-control input-md" name="comment" required></textarea>
								<span style="color:red" ng-show="addServiceComment.comment.$dirty && addServiceComment.comment.$invalid">
								<span ng-show="addServiceComment.comment.$error.required">This field is required.</span></span>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-6 col-md-offset-1">
								<button type="button" class="btn btn-sm btn-info" data-target="#servicedesc" data-toggle="collapse">help</button>
							</div>
						</div>
						<!-- collapse -->
						<div class="collapse fade" id="servicedesc">
							<p><small>
										This command is used to add a comment for the specified service.
										If you work with other administrators, you may find it useful to
										share information about a host or service that is having problems
										if more than one of you may be working on it.
										If you do not check the 'persistent' option,
										the comment will automatically be deleted the next time Nagios is restarted.
						 </small></p>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reset()">Close</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="add()" ng-disabled="addServiceComment.$invalid" title="Please complete the form">Add</button>
				</div>
			</div>
		</div>
	</div>

</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
