<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="SysDowntimeCtrl" ng-init="init()">

	<h1>Downtime</h1>

	<div class="details table-container full-width">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
		  <li class="active">
		    <a role="button" data-toggle="tab" data-target="#hostcomments">Host Downtime</a>
		  </li>
		  <li>
		    <a role="button" data-toggle="tab" data-target="#servicecomments">Service Downtime</a>
		  </li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
		  <div class="tab-pane active" id="hostcomments">
					<div class="table-container full-width">

						<table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
		            <thead>
		                <tr>
		                    <th>Host Name</th>
		                    <th>Entry Time</th>
		                    <th>Author</th>
												<th>Comment</th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Type</th>
												<th>Duration</th>
												<th>Downtime ID</th>
												<th>Trigger ID</th>
												<th>Actions</th>
		                </tr>
		            </thead>
								<tfoot>
		                <tr>
		                    <td colspan="11">
													<a class="add-comment no-margin" role="button" data-toggle="modal" data-target="#hostDowntime" ng-click="scheduleDowntime('host')">Schedule Downtime</a>
												</td>
		                </tr>
		            </tfoot>
		            <tbody>
		                <tr ng-if="(hostdowntime | count) == 0">
		                    <td colspan="11">{{ is_loading ? 'Loading...' : 'No scheduled host are defined' }}</td>
		                </tr>
										<tr ng-repeat="downtime in hostdowntime" ng-class-odd="'footable-odd'" ng-class-even="'footable-even'">
		                    <td>{{ downtime.host }}</td>
		                    <td>{{ downtime.entry_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
												<td>{{ downtime.author }}</td>
		                    <td>{{ downtime.comment }}</td>
												<td>{{ downtime.start_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
												<td>{{ downtime.end_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
												<td>{{ downtime.fixed | downtime_type }}</td>
												<td>{{ downtime.duration / 60 }}h {{ downtime.duration % 60 }}m</td>
												<td>{{ downtime.downtime_id }}</td>
												<td>{{ downtime.triggered_id | triggered_id}}</td>
												<td><a role="button" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteDowntime(downtime.downtime_id, 'host')">Delete Downtime</a></td>
		                </tr>
		            </tbody>
			      </table>
					</div>
			</div>

		  <div class="tab-pane" id="servicecomments">
				<div class="table-container full-width">

					<table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
	            <thead>
	                <tr>
											<th>Host Name</th>
											<th>Service</th>
											<th>Entry Time</th>
											<th>Author</th>
											<th>Comment</th>
											<th>Start Time</th>
											<th>End Time</th>
											<th>Type</th>
											<th>Duration</th>
											<th>Downtime ID</th>
											<th>Trigger ID</th>
											<th>Actions</th>
	                </tr>
	            </thead>
							<tfoot>
									<tr>
											<td colspan="12">
												<a class="add-comment no-margin" role="button" data-toggle="modal" data-target="#serviceDowntime" ng-click="scheduleDowntime('svc')">Schedule Downtime</a>
											</td>
									</tr>
							</tfoot>
							<tbody>
									<tr ng-if="(svcdowntime | count) == 0">
											<td colspan="11">{{ is_loading ? 'Loading...' : 'No scheduled host are defined' }}</td>
									</tr>
									<tr ng-repeat="downtime in svcdowntime" ng-class-odd="'footable-odd'" ng-class-even="'footable-even'">
											<td>{{ downtime.host }}</td>
											<td>{{ downtime.service }}</td>
											<td>{{ downtime.entry_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
											<td>{{ downtime.author }}</td>
											<td>{{ downtime.comment }}</td>
											<td>{{ downtime.start_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
											<td>{{ downtime.end_time * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
											<td>{{ downtime.fixed | downtime_type }}</td>
											<td>{{ downtime.duration / 60 }}h{{ downtime.duration % 60 }}m</td>
											<td>{{ downtime.downtime_id }}</td>
											<td>{{ downtime.triggered_id | triggered_id}}</td>
											<td><a role="button" data-toggle="modal" data-target="#confirm-delete" ng-click="deleteDowntime(downtime.downtime_id, 'svc')">Delete Downtime</a></td>
									</tr>
							</tbody>
		      </table>
				</div>
			</div>

		</div>
	</div>
	<div ng-include="'frontend/partials/modals.html'"></div>
</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
