<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="PerformanceInfoCtrl" ng-init="init()">

	<h1>Performance Information</h1>

	<div class="details table-container partial-width">

		<h3>Program-Wide Performance Information</h3>

		<div class="form-options">
			<table>
			</table>
    </div>
	</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
